/** 🏗️ Core */
@use "./partials/normalize";
@use "./partials/spacing";
@use "./partials/variables";
@use "./partials/mixins";
@use "./partials/layout";
@use "./partials/utils";
@use "./partials/typography";
@use "./partials/theme";

/** 🧱 Components */
@use "./components/header.scss";
@use "./components/nav.scss";
@use "./components/post-meta-data.scss";
@use "./components/iterator-links.scss";

table {
	margin: 1em 0;
}

table td,
table th {
	padding-right: 1em;
}

pre,
code {
	font-family: var(--font-family-monospace);
}

pre:not([class*="language-"]) {
	margin: 0.5em 0;
	line-height: 1.375; /* 22px /16 */
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
}

code {
	word-break: break-all;
}

/* Posts list */
.c-post-list {
	list-style: none;
	padding: 0;
	padding-left: 1.5rem;

	&__item {
		display: flex;
		flex-wrap: wrap;
		align-items: baseline;
		counter-increment: start-from -1;
		margin-bottom: 1em;

		&:before {
			display: inline-block;
			pointer-events: none;
			content: "" counter(start-from, decimal-leading-zero) ". ";
			line-height: 100%;
			text-align: right;
			margin-left: calc((var(--base-size-16) * -1) - var(--base-size-4));
			margin-right: var(--base-size-4);
		}
	}

	&__item > .c-post-tag {
		align-self: center;
	}

	&__item--active .c-post-list__link {
		font-weight: bold;
	}
}

.c-post-list__date,
.c-post-list__item:before {
	font-size: 0.8125em; /* 13px /16 */
	color: var(--fgColor-muted);
}

.c-post-list__date {
	word-spacing: -0.5px;
}

.c-post-list__link {
	font-size: 1.1875em; /* 19px /16 */
	font-weight: 700;
	flex-basis: calc(100% - 1.5rem);
	padding-left: 0.25em;
	padding-right: 0.5em;
	text-underline-position: from-font;
	text-underline-offset: 0;
	text-decoration-thickness: 1px;

	&:focus-visible {
		@include mixins.focus();
	}
}

/* Tags */
.c-post-tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	font-style: italic;
}

/* Direct Links / Markdown Headers */
.header-anchor {
	text-decoration: none;
	font-style: normal;
	font-size: 1em;
	margin-left: 0.1em;
}
a[href].header-anchor,
a[href].header-anchor:visited {
	color: transparent;
}
a[href].header-anchor:focus,
a[href].header-anchor:hover {
	text-decoration: underline;
}
a[href].header-anchor:focus,
:hover > a[href].header-anchor {
	color: var(--fgColor-muted);
}

h2 + .header-anchor {
	font-size: 1.5em;
}
