/* Error: expected "{".
 *    ,
 * 57 |     font-weight: 600;
 *    |                     ^
 *    '
 *   scss/components/post-list.scss 57:18  @use
 *   scss/index.scss 16:1                  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 57 \2502      font-weight: 600;\d\a    \2502                      ^\a    \2575 \a   scss/components/post-list.scss 57:18  @use\a   scss/index.scss 16:1                  root stylesheet';
}
