---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 5
numberOfRecommendedPostsToShow: 3
---
{% set postsCount = collections.posts | filterPublished | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h2>Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}</h2>

{% set postslist = collections.posts | filterPublished | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
{# <p>{{ morePosts }} other post{% if morePosts != 1 %}s{% endif %} can be found in <a href="/blog/">the archive</a>.</p> #}
<p><a class="u-type:small" href="/blog/">View {% if morePosts != 1 %}all{% endif %} {{ morePosts }} other post{% if morePosts != 1 %}s{% endif %}</a></p>
{% endif %}

<aside>
	<h2>Worth a read</h2>
	{% set recommendedPostslist = collections.posts | filterRecommended | filterPublished | head(-1 * numberOfRecommendedPostsToShow) %}
	{% include "recommendedPostsList.njk" %}
</aside>

{# Example: List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}


