---
layout: layouts/wide.njk
eleventyNavigation:
  key: Projects
  order: 3
---

<h1 class="u-bleed-container:large">Projects</h1>

{% set projectlist = collections.projects %}
{% include "projectlist.njk" %}