@view-transition {
  navigation: auto;
}

::view-transition-group(*) {
  animation-duration: .24s;
}

@media (prefers-reduced-motion: reduce) {
  ::view-transition-group(*) {
    animation-duration: 0s;
  }
}