html,
body {
	height: 100%;
	padding: 0;
	margin: 0 auto;
	font-family: var(--font-family);
	color: var(--fgColor-default, var(--color-fg-default));
	background-color: var(--bgColor-default, var(--color-canvas-default));
}

html {
	overflow-y: scroll;
}

body {
	max-width: 40em;
}

* {
	box-sizing: border-box;
}

main {
	padding: var(--base-size-16);

	&:first-child {
		margin-top: 0;
	}
}
