@use "./mixins";

* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	padding: 0;
	margin: 0 auto;
	font-family: var(--font-family);
	color: var(--fgColor-default, var(--color-fg-default));
	background-color: var(--bgColor-default, var(--color-canvas-default));
}

html {
	overflow-y: scroll;
}

main>*:not(img):not(video):not(picture) {
	@include mixins.contain-site-content();
}

img,
video,
picture {
	display: block;
	max-width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

main {
	padding: var(--base-size-16);

	&:first-child {
		margin-top: 0;
	}
}