@use "sass:map";
@use "./variables";

//--------------------
// 📖 Typography
//--------------------
@mixin type-h1() {
	font-size: var(--font-size-xxxl, 3.05rem) !important;
	font-weight: variables.$font-weight-bold !important;
}

@mixin type-h2() {
	font-size: var(--font-size-xxl, 2.4rem) !important;
	font-weight: variables.$font-weight-bold !important;
}

@mixin type-h3() {
	font-size: var(--font-size-xl, 1.95rem) !important;
	font-weight: variables.$font-weight-bold !important;
}

@mixin type-h4() {
	font-size: var(--font-size-lg, 1.56rem) !important;
	font-weight: variables.$font-weight-bold !important;
}

@mixin type-body-lead() {
	font-size: var(--font-size-md, 1.25rem) !important;
	font-weight: variables.$font-weight-regular !important;
}

@mixin type-body() {
	font-size: var(--font-size-base, 1rem);
	font-weight: variables.$font-weight-regular;
}

@mixin type-small() {
	font-size: var(--font-size-sm, 0.8rem) !important;
	font-weight: variables.$font-weight-regular !important;
}

@mixin type-x-small() {
	font-size: var(--font-size-x-sm, 0.64rem) !important;
	font-weight: variables.$font-weight-regular !important;
}

@mixin type-button() {
	font-size: var(--font-size-base, 1rem) !important;
	font-weight: variables.$font-weight-bold !important;
}

@mixin type-button-small() {
	font-size: var(--font-size-sm, 0.8rem) !important;
	font-weight: variables.$font-weight-bold !important;
}

@mixin type-no-select() {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

@mixin style-link() {
	color: currentColor;
	text-underline-position: from-font;
	text-decoration-color: var(--color-accent-fg);
	text-decoration-thickness: 1px;
	text-underline-offset: 0.2ex;
	box-sizing: border-box;
	padding: 0;
	border: 0;
	margin: 0;
	font-family: inherit;
	font-size: 100%;
	vertical-align: baseline;
	outline: none;

	&:hover,
	&:active {
		color: currentColor;
		text-decoration-thickness: 2px;
	}

	&:visited {
		color: currentColor;
	}

	&:focus-within {
		@include focus();
		text-decoration-thickness: 2px;
	}
}

//--------------------
// 🏗️ Layer
//--------------------
@mixin layer($layer) {
	@if not map.has-key(variables.$layer-shadows, $layer) {
		@warn "❗ #{$layer} is not a valid layer.";
	}

	box-shadow: #{map.get(variables.$layer-shadows, $layer)};
}

@mixin getZIndexFor($index-for) {
	@if not map.has-key(variables.$z-index, $index-for) {
		@warn '❗ #{$index-for} does not have a valid z-index.';
	}

	z-index: #{map.get(variables.$z-index, $index-for)};
}

//--------------------
// 🫧 Reset
//--------------------
@mixin unstyled-list() {
	list-style: none;
	margin: 0;
	padding: 0;

	/**
    * @bugfix Prevent webkit from removing list semantics
    * https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html
    * 1. Add a non-breaking space
    * 2. Make sure it doesn't mess up the DOM flow
    */
	& > li:before {
		content: "\200B"; /* 1 */
		position: absolute; /* 2 */
	}
}

@mixin unstyled-button() {
	align-items: center;
	appearance: button;
	backface-visibility: hidden;
	border-width: 0;
	box-sizing: border-box;
	cursor: pointer;
	margin: 0;
	outline: none;
	text-align: center;
	text-decoration: none;
	touch-action: manipulation;
	transform: translateZ(0);
	user-select: none;
	vertical-align: top;
	webkit-user-select: none;
	width: max-content;
}

//--------------------
// ♻️ Common styles
//--------------------
@mixin visually-hidden() {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

@mixin focus() {
	outline-offset: 3px;
	outline: 2px solid var(--color-accent-fg);
}

@mixin contain-site-content {
	max-width: 42rem;
	margin-left: auto;
	margin-right: auto;
}
