@use "../../node_modules/@primer/primitives/dist/scss/colors/dark";
@use "../../node_modules/@primer/primitives/dist/scss/colors/light";

:root {
	@include dark.primer-colors-dark();

	--font-family: -apple-system, system-ui, sans-serif;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono,
		Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono,
		Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New,
		Courier, monospace;

	// gh missing from primer package
	--shadow-inset: inset 0px 1px 0px 0px #1f232814;
	--shadow-highlight: inset 0px 1px 0px 0px #ffffff3d;
	--shadow-resting-xsmall: 0px 1px 0px 0px #1f23281a;
	--shadow-resting-small: 0px 1px 0px 0px #1f23280f, 0px 1px 3px 0px #1f232814;
	--shadow-resting-medium: 0px 3px 6px 0px #424a531f;
	--shadow-floating-small: 0px 6px 12px -3px #424a530a,
		0px 6px 18px 0px #424a531f;
	--shadow-floating-medium: 0px 8px 16px -4px #424a5314,
		0px 4px 32px -4px #424a5314, 0px 24px 48px -12px #424a5314,
		0px 48px 96px -24px #424a5314;
	--shadow-floating-large: 0px 40px 80px 0px #424a533d;
	--shadow-floating-xlarge: 0px 56px 112px 0px #424a5352;
}

/* Theme colors */
:root {
	--color-gray-20: #e0e0e0;
	--color-gray-50: #c0c0c0;
	--color-gray-90: #333;

	--background-color: #fff;

	--text-color: var(--color-gray-90);
	--text-color-link: #082840;
	--text-color-link-active: #5f2b48;
	--text-color-link-visited: #17050f;

	--syntax-tab-size: 2;
}

@media (prefers-color-scheme: light) {
	:root {
		@include light.primer-colors-light();

		--color-gray-20: #e0e0e0;
		--color-gray-50: #c0c0c0;
		--color-gray-90: #dad8d8;

		/* --text-color is assigned to --color-gray-_ above */
		--text-color-link: #1493fb;
		--text-color-link-active: #6969f7;
		--text-color-link-visited: #a6a6f8;

		--background-color: #15202b;
	}
}