@use "./variables";
@use "./mixins";

// 🔗 Reference: https://www.fluid-type-scale.com/calculate?minFontSize=20&minWidth=400&minRatio=1.25&maxFontSize=24&maxWidth=1280&maxRatio=1.333&steps=x-sm%2Csm%2Cbase%2Cmd%2Clg%2Cxl%2Cxxl%2Cxxxl&baseStep=base&prefix=font-size&useContainerWidth=undefined&includeFallbacks=true&useRems=true&remValue=16&decimals=2&previewFont=Inter&previewText=Almost+before+we+knew+it%2C+we+had+left+the+ground&previewWidth=1280

/* For browsers that support clamp  */
@supports (font-size: clamp(1rem, 1vi, 1rem)) {
	:root {
		--font-size-x-sm: clamp(0.8rem, 0.08vi + 0.78rem, 0.84rem);
		--font-size-sm: clamp(1rem, 0.23vi + 0.94rem, 1.13rem);
		--font-size-base: clamp(1.25rem, 0.45vi + 1.14rem, 1.5rem);
		--font-size-md: clamp(1.56rem, 0.79vi + 1.36rem, 2rem);
		--font-size-lg: clamp(1.95rem, 1.29vi + 1.63rem, 2.67rem);
		--font-size-xl: clamp(2.44rem, 2.02vi + 1.94rem, 3.55rem);
		--font-size-xxl: clamp(3.05rem, 3.06vi + 2.29rem, 4.74rem);
		--font-size-xxxl: clamp(3.81rem, 4.54vi + 2.68rem, 6.31rem);
	}
}

/* For browsers that don't support clamp */
@supports (font-size: clamp(1rem, 1vw, 1rem)) {
	:root {
		--font-size-x-sm: clamp(0.64rem, -0.01vw + 0.64rem, 0.63rem);
		--font-size-sm: clamp(0.8rem, 0.08vw + 0.78rem, 0.84rem);
		--font-size-base: clamp(1rem, 0.23vw + 0.94rem, 1.13rem);
		--font-size-md: clamp(1.25rem, 0.45vw + 1.14rem, 1.5rem);
		--font-size-lg: clamp(1.56rem, 0.79vw + 1.36rem, 2rem);
		--font-size-xl: clamp(1.95rem, 1.29vw + 1.63rem, 2.66rem);
		--font-size-xxl: clamp(2.44rem, 2.02vw + 1.94rem, 3.55rem);
		--font-size-xxxl: clamp(3.05rem, 3.06vw + 2.29rem, 4.73rem);
	}
}

/* Fallback variables for browsers that don't support clamp */
@supports not (font-size: clamp(1rem, 1vw, 1rem)) {
	:root {
		--font-size-x-sm: 0.64rem;
		--font-size-sm: 0.8rem;
		--font-size-base: 1rem;
		--font-size-md: 1.25rem;
		--font-size-lg: 1.56rem;
		--font-size-xl: 1.95rem;
		--font-size-xxl: 2.44rem;
		--font-size-xxxl: 3.05rem;
	}

	@media screen and (min-width: 1280px) {
		:root {
			--font-size-x-sm: 0.63rem;
			--font-size-sm: 0.84rem;
			--font-size-base: 1.13rem;
			--font-size-md: 1.5rem;
			--font-size-lg: 2rem;
			--font-size-xl: 2.66rem;
			--font-size-xxl: 3.55rem;
			--font-size-xxxl: 4.73rem;
		}
	}
}

html {
	font-family: variables.$font-family;
	font-size: var(--font-size-base, 16px);
	font-weight: variables.$font-weight-regular;
	color: var(--color-fg-default);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1 {
	@include mixins.type-h1();
	letter-spacing: -0.1rem;
	max-width: 60ch;
	text-wrap: balance;
}

h2 {
	@include mixins.type-h2();
	letter-spacing: -0.05rem;
	max-width: 60ch;
	text-wrap: balance;
}

h3 {
	@include mixins.type-h3();
	letter-spacing: -0.03rem;
	max-width: 60ch;
	text-wrap: balance;
}

h4,
h5,
h6 {
	@include mixins.type-h4();
	max-width: 60ch;
	text-wrap: balance;
}

h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 0.2em;
}

h1::first-letter {
	color: var(--color-prettylights-syntax-keyword);
}

p {
	@include mixins.type-body();
	line-height: 1.5;
	max-width: 60ch;

	&:last-child {
		margin-bottom: 0;
	}
}

li {
	line-height: 1.5;
}

a {
	@include mixins.style-link();
}

figcaption {
	@include mixins.type-small();
	@include mixins.contain-site-content();
	color: var(--color-fg-muted);
	text-align: center;
	margin-block-start: var(--base-size-8);
}

pre,
code {
	font-family: var(--font-family-monospace);
}

code {
	word-break: break-all;
	color: var(--fgColor-default, var(--color-fg-default));
}

:not(pre)>code {
	padding: 0.2em 0.4em;
	margin: 0;
	font-size: 85%;
	white-space: break-spaces;
	background-color: var(--bgColor-neutral-muted, var(--color-neutral-muted));
	border-radius: 6px;
}

pre:not([class*="language-"]) {
	margin-block: 0.5em;
	line-height: 1.375;
	/* 22px /16 */
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
}