@use "./variables";
@use "./mixins";

//--------------------
// 🧑‍🦯 A11y
//--------------------
/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.u-visually-hidden {
	@include mixins.visually-hidden();
}

//--------------------
// 📖 Typography
//--------------------
.u-type\:h1 {
	@include mixins.type-h1();
}

.u-type\:h2 {
	@include mixins.type-h2();
}

.u-type\:h3 {
	@include mixins.type-h3();
}

.u-type\:h4,
.u-type\:h5,
.u-type\:h6 {
	@include mixins.type-h4();
}

.u-type\:body-lead {
	@include mixins.type-body-lead();
}

.u-type\:body {
	@include mixins.type-body();
}

.u-type\:small {
	@include mixins.type-small();
}

.u-type\:x-small {
	@include mixins.type-x-small();
}

.u-type\:meta {
	color: var(--cds-text-secondary);
}

.u-type\:no-select {
	@include mixins.type-no-select();
}

.u-type\:first-letter {
	&::first-letter {
		initial-letter: 3;
	}
}

//--------------------
// 📐 Dimensions
//--------------------
.u-h\:screen {
	height: 100vh;
}

.u-h\:full {
	height: 100% !important;
}

.u-w\:full {
	width: 100% !important;
}

[class^="u-bleed-container"],
[class*="u-bleed-container"] {
	margin-left: auto;
	margin-right: auto;

	& > * {
		width: 100%;
	}
}

.u-bleed-container\:x-small {
	max-width: 24rem !important;
}

.u-bleed-container\:default {
	max-width: 42rem !important;
}

.u-bleed-container\:small {
	max-width: 48rem !important;
}

.u-bleed-container\:medium {
	max-width: 56rem !important;
}

.u-bleed-container\:large {
	max-width: 64rem !important;
}

.u-bleed-container\:x-large {
	max-width: 84rem !important;
}

.u-bleed-container\:full {
	max-width: 100% !important;
}

.u-responsive-table-container {
	display: block;
	overflow-x: auto;
}

//--------------------
// 💈 Styles
//--------------------
.u-list\:unstyled {
	@include mixins.unstyled-list();
}

.u-border\:device {
	display: table-cell;
	border: 1rem solid var(--color-primer-border-contrast);
	border-radius: 3rem;
	overflow: hidden;

	& > * {
		margin: 0;
	}
}

//--------------------
// 📏 Spacing
//--------------------
@each $key, $value in variables.$spacing {
	.u-m\:#{$key} {
		margin: $value !important;
	}

	.u-mt\:#{$key} {
		margin-top: $value !important;
	}

	.u-mr\:#{$key} {
		margin-right: $value !important;
	}

	.u-mb\:#{$key} {
		margin-bottom: $value !important;
	}

	.u-ml\:#{$key} {
		margin-left: $value !important;
	}

	.u-mh\:#{$key} {
		margin-left: $value !important;
		margin-right: $value !important;
	}

	.u-mv\:#{$key} {
		margin-top: $value !important;
		margin-bottom: $value !important;
	}

	.u-p\:#{$key} {
		padding: $value !important;
	}

	.u-pt\:#{$key} {
		padding-top: $value !important;
	}

	.u-pr\:#{$key} {
		padding-right: $value !important;
	}

	.u-pb\:#{$key} {
		padding-bottom: $value !important;
	}

	.u-pl\:#{$key} {
		padding-left: $value !important;
	}

	.u-ph\:#{$key} {
		padding-left: $value !important;
		padding-right: $value !important;
	}

	.u-pv\:#{$key} {
		padding-top: $value !important;
		padding-bottom: $value !important;
	}
}

//--------------------
// 📲 Flexbox, Grid & layout
//--------------------
.u-display\:flex {
	display: flex !important;
}

.u-display\:inline {
	display: inline !important;
}

.u-display\:block {
	display: block !important;
}

.u-display\:none {
	display: none !important;
}

@media (prefers-color-scheme: dark) {
	.u-display\:none-when-color-scheme\:dark {
		display: none !important;
	}
}

@media (prefers-color-scheme: light) {
	.u-display\:none-when-color-scheme\:light {
		display: none !important;
	}
}

.u-flex-justify-content\:center {
	justify-content: center !important;
}
