//--------------------
// 📏 Spacing
//--------------------
$spacing: (
  "auto": auto,
  "00": 0px,
  "02": 2px,
  "04": 4px,
  "08": 8px,
  "12": 12px,
  "16": 16px,
  "24": 24px,
  "32": 32px,
  "48": 48px,
  "64": 64px,
  "72": 72px,
);

$rem-spacing: (
  // 0.125rem
  "01": var(--cds-spacing-01),
  // 0.25rem
  "02": var(--cds-spacing-02),
  // 0.5rem
  "03": var(--cds-spacing-03),
  // 0.75rem
  "04": var(--cds-spacing-04),
  // 1rem
  "05": var(--cds-spacing-05),
  // 1.5rem
  "06": var(--cds-spacing-06),
  // 2rem
  "07": var(--cds-spacing-07),
  // 2.5rem
  "08": var(--cds-spacing-08),
  // 3rem
  "09": var(--cds-spacing-09),
  // 4rem
  "10": var(--cds-spacing-10),
  // 5rem
  "11": var(--cds-spacing-11),
  // 6rem
  "12": var(--cds-spacing-12),
  // 10rem
  "13": var(--cds-spacing-13)
);

$break-points: (
  "x-small": 320px,
  "small": 640px,
  "medium": 1440px,
  "large": 2440px,
);

//--------------------
// 📏 Sizing
//--------------------

$input-sizes: (
  "x-small": 4rem,
  "small": 8rem,
  "medium": 16rem,
  "large": 24rem,
  "x-large": 32rem,
);

//--------------------
// 📖 Typography
//--------------------
$font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol", sans-serif;
$font-weight-bold: 600;
$font-weight-regular: 400;

//--------------------
// 🎬 Animation
//--------------------
$animation-duration-medium: 400ms;
$animation-timing-func-small: cubic-bezier(0.16, 1, 0.3, 1);

//--------------------
// 🕶️ Layering
//--------------------
$layer-shadows: (
  0: none,
  1: 0 2px 6px var(--cds-shadow, rgba(0, 0, 0, 0.3)),
  2: 0 4px 12px 0 var(--cds-shadow, rgba(0, 0, 0, 0.3)),
);

$z-index: (
  "base": 0,
  "side-panel-container": "100",
  "side-panel": "101",
  "overflow-menu-content-container": "200",
  "dialog-overlay": "300",
  "dialog-container": "301",
);
