@use "../partials/mixins";

.c-footer {
	max-width: 64rem;
	margin-inline: auto;
	position: sticky;
	top: 100vh;
	padding: var(--base-size-16);
	// border-top: 1px solid var(--color-border-default);
}
