@use "../partials/mixins";

.c-index-list {
	@include mixins.unstyled-list();
	//display: inline-flex;
	// flex-wrap: wrap;
	// white-space: pre-line;
	// border-top: 1px solid var(--color-border-subtle);
	// border-bottom: 1px solid var(--color-border-subtle);
	overflow: hidden;
	box-shadow:
		0 1px 0 var(--color-border-subtle),
		0 -1px 0 var(--color-border-subtle);

	&--small {
		@include mixins.type-small();
	}

	&__item {
		display: inline;
		white-space: break-spaces;
		position: relative;
		//box-shadow:
		//	0 1px 0 var(--color-border-subtle),
		//	0 -1px 0 var(--color-border-subtle);

		&:after {
			content: "";
			position: absolute;
			bottom: -4px;
			left: -100%;
			height: 1px;
			width: 100vw;
			//background-color: pink;
			box-shadow: 0 1px 0 var(--color-border-subtle);
			transform: translateX(-50%);
		}

		&+& {
			padding-inline-start: var(--base-size-8);
		}
	}
}