---
layout: layouts/base.njk
---
{# Only include the syntax highlighter CSS on blog posts #}
{%- css %}{% include "public/css/prism.css" %}{%- endcss %}
<h1>{{ title }}</h1>

<ul class="c-post-meta-data">
	<li class="c-post-meta-data__item--time"><time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></li>
	{%- for tag in tags | filterTagList %}
	{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<li class="c-post-meta-data__item"><a href="{{ tagUrl }}" class="c-post-tag">{{ tag }}</a>{%- if not loop.last %}, {% endif %}</li>
	{%- endfor %}
</ul>

{{ content | safe }}

{%- if collections.posts %}
{%- set previousPost = collections.posts | getPreviousCollectionItem %}
{%- set nextPost = collections.posts | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<ul class="c-iterator-links">
	{%- if previousPost %}
	<li class="c-iterator-links__link-item c-iterator-links__link-item--prev">
		<a class="c-iterator-links__link" href="{{ previousPost.url }}">
			<span class="c-iterator-links__link-label">Previous</span>
			{{ previousPost.data.title }}
		</a>
	</li>
	{% endif %}
	{%- if nextPost %}
	<li class="c-iterator-links__link-item c-iterator-links__link-item--next">
		<a class="c-iterator-links__link" href="{{ nextPost.url }}">
			<span class="c-iterator-links__link-label">Next</span>
			{{ nextPost.data.title }}
		</a>
	</li>
	{% endif %}
</ul>
{%- endif %}
{%- endif %}
