name: Build on Pull Prequest to Main
on:
  pull_request:
    branches: ["main"]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: ["24.11.0"]
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
      - name: Install packages
        run: npm ci
      - name: create .env file
        run: |
          touch .env
          echo PAGE_SPEED_API_KEY=${{ secrets.PAGE_SPEED_API_KEY }} >> .env
      - name: Run npm build
        run: npm run build
